.card {
    background-color: rgb(215, 241, 215);
}

a {
    color: white;
    text-decoration: none;
}

.genre {
    border-radius: 5px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
}

.Fantasy {
    background-color: rgb(181, 116, 242);
    border: rgb(181, 116, 242);
    display: flex;
    justify-content: space-between;
}